<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">Faeyy3303!</property>
        <property name="hibernate.connection.url">jdbc:mysql://192.168.1.10:3306/SharpCartMobile</property>
        <property name="hibernate.connection.username">admin</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>
        
        <!-- Drop and re-create the database schema on startup 
        <property name="hbm2ddl.auto">update</property>
		-->
		
        <!-- Mapping resources -->
        <mapping class="com.sharpcart.rest.persistence.model.ShoppingItem"/>
 		<mapping class="com.sharpcart.rest.persistence.model.Category"/>
 		<mapping class="com.sharpcart.rest.persistence.model.Unit"/>
 		<mapping class="com.sharpcart.rest.persistence.model.Store"/>
 		<mapping class="com.sharpcart.rest.persistence.model.StoreItem"/>
 		<mapping class="com.sharpcart.rest.persistence.model.SharpCartUser"/>
 		     
    </session-factory>
</hibernate-configuration>
